# waran waran files
**/.DS_Store
**/.setup.txt
.env
.env.backup
.phpunit.result.cache
.production.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.bck

# folders
_
/node_modules
/personalizedflyer/cache
/storage/*.key
/vendor
/.idea
/.vagrant
/.vscode